*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    color: #00374E;
}
 /* Header */
.menu{
    background-color: #00374E;
    li{
        color:#E6F8FE;
    }
}

.navbar-toggler{
    background-color: #00374E;
    height: 10rem;
    width: 4.5rem;
    border-radius: 0;
}

.offcanvas{
    background-color: #00374E;
}

.nav-link{
    color: #E6F8FE;
    &:hover{
        color: #0095D6;
    }
}

.container-fluid {
    --bs-gutter-x: 0;
}

/* Main > Home > Sección principal */
#seccionPrincipal{
    .imgPrincipal{
        max-width: 100%;
    }
    h1{
        max-width: 60%;
    }
}


/* Main > Home > Sección Qué hago */

.descripcionQueHago{
    max-width: 30%;
}

/* Main > Home > Sección proyectos */

.card-title{
    color: #00374E;
}

.card-text{
    color: #171717;
}

.proyectoPill{
    p{
        background-color: #00374E;
        color: #E6F8FE;
    }
}

/* Main > Home > Sección contacto */

.seccionContacto{
    background-color: #171717;
    color: #E6F8FE;
    height: 25rem;
    .container{
        .botonContacto{
            background-color: #E6F8FE;
            color: #00374E;
        }
    }
}

.seccionContactoResponsive{
    background-color: #171717;
    color: #E6F8FE;
    height: 16rem;
    .botonContacto{
        background-color: #E6F8FE;
        color: #00374E;
    }
}

/* Main > Proyectos */

.imgProyectoMain{
    max-width: 100%;
    img{
        height: auto;
        object-fit: cover;
    }
}


/* Main > Sobre mí */

.sobreMiInfo{
    max-width: 40%;
    h1{
        font-size: 9.3rem;
    }
    .enlacesSobreMi{
        a{
            color: #171717;
        }
    }
}

/* Main > Contacto */

.contenedorContacto{
    max-width: 40%;
    .botonFormulario{
        background-color: #00374E;
        color: #E6F8FE;
    }
}

.inputFormularios{
    border-color: #171717;
}


/* Footer */

footer{
    background-color: #00374E;
}

.enlaceFooter{
    color: #E6F8FE;
}

.lineaHorizontalResponsive{
    color: #E6F8FE;
}

.copyright{
    color: #E6F8FE;
}