$colores: (
    primario: #00374E,
    secundario: #E6F8FE,
    terciario: #0095D6,
    negro: #171717,
);

$color-primario: #00374E;
$color-secundario: #E6F8FE;
$color-terciario: #0095D6;
$color-negro: #171717; 